.findId-form, .signUp-form {
    border-radius: 10px;
    width: 350px;
    height: 460px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: -3px -3px 3px white, 3px 3px 5px rgba(209, 209, 209, 0.705);
    background-color: #f7f7f7;
  }
  
  .findId-input, .signUp-input {
    width: 80%;
    margin: 7px;
  }

  .findId-submit, .signUp-submit{
    width: 235px;
    margin-top: 15px;
    font-weight: bold;
    box-shadow: -3px -3px 5px white, 3px 3px 5px rgba(182, 182, 182, 0.705);
    color: rgb(112, 112, 112);
    cursor: pointer;
  }
  
  .findId-submit:hover, .signUp-submit:hover {
    box-shadow: inset 6px 6px 8px rgba(39, 39, 39, 0.075),
      6px 6px 6px rgba(255, 255, 255, 0.781);
    transition: 500ms;
  }
  
  .findId-submit:active, .signUp-submit:active {
    color: rgb(255, 135, 60);
    transition: 10ms;
   }