/*************************************************************************************************************************
   아이디 비밀번호 수정
*************************************************************************************************************************/

.wrapper {
    border: 1px solid black;
    width: 400px;
    padding: 30px;
    box-sizing: border-box;
    margin: auto;
    weight: bold;
}




#pw_search_input, #id, #name, #License_Number, #Affiliation, #username, #Rank, #Subject, #hint {
    width: 200PX;
    height : 30PX;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid lightgray;
    box-sizing: border-box
}


input[type=email] {
    width: 20%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid lightgray;
    box-sizing: border-box;
    margin-top: 1%;
    margin-left : 40%;
}

/* input[type=password] {
    width: 200PX;
    height : 30PX;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid lightgray;
    box-sizing: border-box;
} */

input[type=tel] {
    width: 20%;
    padding: 8px;
    margin: 0px 0;
    border-radius: 5px;
    border: 1px solid lightgray;
    box-sizing: border-box;
    margin-top: 1%;
    margin-left : 40%;
    
}


.pass_search {
    width: 20%;
    padding: 8px;
    margin: 0px 0;
    border-radius: 5px;
    border: 1px solid lightgray;
    box-sizing: border-box;
    margin-top: 1%;
    margin-left : 40%;
}



#login-submit{
    width: 20%;
    background-color: dodgerblue;
    color: #fff;
    padding: 7px;
    margin-top: 15px;
    border-radius: 5px;
    border: none;
}


.create_btn{
    width: 20%;
    background-color: dodgerblue;
    color: #fff;
    padding: 7px;
    margin-top: 15px;
    border-radius: 5px;
    border: none;
    margin-top: 1%;
    margin-left : 40%;
  
}


.interpretation_save{
    width: 70px;
    height: 100%;
    background-color: dodgerblue;
    color: #fff;
    border-radius: 5px;
    border: none;
    font-size: 16px;
}

.interpretation_reset{
    width: 70px;
    height: 100%;
    background-color: dodgerblue;
    color: #fff;
    border-radius: 5px;
    border: none;
    font-size: 16px;
}

.interpretation_delete{
    position: fixed;
    top: 78%;
    left: 75%;
    width: 8%;
    background-color: dodgerblue;
    color: #fff;
    padding: 7px;
    border-radius: 5px;
    border: none;
    z-index: 1;
    font-size: 16px;
}


.comment_save{
    position: fixed;
    top: 68%;
    left: 75%;
    width: 8%;
    background-color: dodgerblue;
    color: #fff;
    padding: 7px;
    border-radius: 5px;
    border: none;
    z-index: 1;

}

.comment_delete{
    position: fixed;
    top: 78%;
    left: 75%;
    width: 8%;
    background-color: dodgerblue;
    color: #fff;
    padding: 7px;
    border-radius: 5px;
    border: none;
    z-index: 1;

}



.comment_close_button1, .comment_close_button2, .comment_close_button3{
    top: 60%;
    left: 34%;
    position : fixed;
    color: #000;
    float: right;
    font-size: 35px;
    font-weight: bold;
}

.interpretation_close_button{
    color: #000;
    float: right;
    font-size: 35px;
    font-weight: bold;
}

.interpretation_close_button:hover, .comment_close_button1:hover, .comment_close_button2:hover, .comment_close_button3:hover{  
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.interpretation_close_button:focus, .comment_close_button1:focus, .comment_close_button2:focus, .comment_close_button3:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.interpretation_close_button2{
    width: 70px;
    height: 100%;
    background-color: dodgerblue;
    color: #fff;
    border-radius: 5px;
    border: none;
    font-size: 16px;
}

/* 버튼 클릭시 텍스트 모달 창*/

.text_modal1, .text_modal2, .text_modal3, .id_interpretation  {
    position: absolute;
    top: 0;
    left: 0;
    
    display: none;

    
    background-color: rgba(0, 0, 0, 0.10);
    z-index : 1;
}
    
.text_modal1.show, .text_modal2.show, .text_modal3.show{
    display: block;
}
    
.text_modal1_body, .text_modal2_body, .text_modal3_body{
    position: fixed;
    top: 85%;
    left: 53%;

    width: 27%;
    height: 15%;
    font-size:15px;

    padding: 5px;

    text-align: left;

    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);

    transform: translateX(-50%) translateY(-50%);
}


/* MIN----------------------------------------------------- */



.interpretation_body{
    position: fixed;
    
    top:  45%;
    left: 50%;

    width: 805px;
    height: 490px;
    font-size:14px;
    padding: 5px;

    text-align: center;

    background-color: rgba(255, 255, 255, 0);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(-50%) translateY(-50%);
}

.check_list{
    width: 390PX;
    height: 445px;
    font-size:14px;
    text-align: center;
    border-radius: 5px;
    margin-right: 5px;
    background-color: rgba(255, 255, 255, 0.9);
    border: solid 1px;

}

.copied_interpretation{
    width: 390px;
    height: 445px;
    font-size:14px;
    padding: 10px;
    text-align: left;
    border-radius: 5px;
    margin-left: 5px;
    background-color: rgba(255, 255, 255, 0.9);
}

.original_interpretation{
    position: fixed;
    top: 45%;
    left: 10%;
    width: 10%;
    height: 10%;
    font-size:15px;
    padding: 5px;
    text-align: left;
    opacity: 0;
    transform: translateX(-50%) translateY(-50%);
}

.checklist_one_line{
    display: flex;
    justify-content: center;
    align-items: center;
}

.checklist_column{
    width: 120px;
    height: 30px;
    font-size:12px;
    font-weight: bold;
    border-bottom: solid 1px;
    border-right: solid 1px;
    /* background-color: #f7f9ff; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.checklist_items{
    width: 100%;
    height: 30px;
    border-bottom: solid 1px;
    font-size:12px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.interpretation_button_elements{
    height: 30px;
    position: fixed;
    top: 100%;
    left: 50%; 
    background-color: rgba(101, 35, 35, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(-50%) translateY(-50%);
}
/* MIN----------------------------------------------------- */

.flex-container {
    display: flex;
    background-color : #eee;

  }
  
.flex-container > div {

    margin: -20px;
    padding: 20px;
    font-size: 30px;

}

.interpretation_table{
    font-size: 13px;
    width : 55%;
    
}

.interpretation_write_button{
    width: 100px;
    height : 30px;
    background-color: dodgerblue;
    color: #fff;
    float: right;
    border-radius: 5px;

}

.comment_table{
    font-size: 13px;
    width : 56%;
}


#th_comment{
    background-color: #8bb6d9;
    font-weight: 800;
    height : 58px;
}

#th_interpretation{
    background-color: #8bb6d9;
    font-weight: 800;
    height : 58px;
}


#test_obj {
    position: absolute;
    width: 550px;
    height: 660px;
    right: 50px;
    border-radius: 70px;
    top: 70px;
    bottom: 250px;
    border: 1px solid #dddddd;
}

ul.tabs{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
ul.tabs li{
    background: none;
    color: #222;
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
}

ul.tabs li.current{
    background: #8bb6d9;
    color: #222;
}

ul.tabs2{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
ul.tabs2 li{
    background: none;
    color: #666;
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
}

ul.tabs2 li.current{
    background: #8bb6d9;
    color: #666;
}

.tab-content{
    display: none;
    background: #ededed;
    padding: 15px;
}

.tab-content.current{
    display: inherit;
}

.tab-content2{
    display: none;
    background: #ededed;
    padding: 15px;
}

.tab-content2.current{
    display: inherit;
}

#11z{
    display: inline-block;
    padding: 10px;
    background: #ccc;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#drop_box {
    border: 2px dashed #ccc;
    border-radius: 20px;
    width: 40%;
    font-family: sans-serif;
    margin-top: 20px;
    margin-left : 70px;
    padding: 20px;
    float : left;

}

#drop_box.highlight {
    border-color: purple;
}
#drop_box2 {
    border: 2px dashed #ccc;
    border-radius: 20px;
    width: 40%;
    font-family: sans-serif;
    margin-top: 36px;
    margin-left : 400px;
    padding: 20px;
    
}

#drop_box2.highlight {
    border-color: purple;
}

#drop-area1 {
    border: 2px dashed #ffffff;
    border-radius: 20px;
    width: 480px;
    font-family: sans-serif;
    float : left;
    
}
#drop-area1.highlight {
    border-color: purple;
}

#drop-area2 {
    border: 2px dashed #ffffff;
    border-radius: 20px;
    width: 480px;
    font-family: sans-serif;
    float : left;
    
}
#drop-area2.highlight {
    border-color: purple;
}

.main_button {
    background-color: #888885;
    color: #FFFFFF; 
    border: none; 
    border-radius: 5px; 
    padding: 10px 20px; 
    cursor: pointer; 
    font-size: 16px; 
    transition: background-color 0.3s ease;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    margin-top : 30px;
    margin-left : 10px;
    
}

.main_button:hover {
    background-color: #c3c3c0;
}

.capture_main_button {
    background-color: #888885;
    color: #FFFFFF; 
    border: none; 
    border-radius: 5px; 
    padding: 10px 20px; 
    cursor: pointer; 
    font-size: 16px; 
    transition: background-color 0.3s ease;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    margin-top : 40px;
    margin-left : 10px;
}

.capture_main_button:hover {
    background-color: #c3c3c0;
}

#main_button_layout{
    
    margin-top : 130px;
}

p {
    margin-top: 0;
}
.my-form {
    margin-bottom: 10px;
}
#gallery {
    margin-top: 0px;
}
#gallery img {
    width: 150px;
    height: auto;
    margin-bottom: 10px;
    margin-right: 10px;
    vertical-align: middle;
}
#gallery2 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#gallery2 img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
#gallery3 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#gallery3 img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
.button {
    display: inline-block;
    padding: 10px;
    background: #ccc;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.button:hover {
    background: #ddd;
}
#axialFile, #sagittalFile {
    display: none;
}
#fileElem2 {
    display: none;
}
#fileElem3 {
    display: none;
}


.tool {
    position: relative;
    display: block;
}

.tool .tooltext {
    visibility: hidden;
    width: 500px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    border-bottom: 30px;
    padding: 5px 0;

    position: absolute;
    z-index: 1;
}

.tool:hover .tooltext {
    visibility: visible;
}

.tool .tool-bottom {
    width: 500px;
    top: 150%;
    left: 5%;
    margin-left: -150px;
}
    
    
.tool .tool-bottom::after {
    bottom: 100%;
    left: 5%;
    margin-left: -150px;
    border-color: transparent transparent black transparent;
}


#search1{
    width : 53%;

}
#aaaa{
    margin-top : 10%;
}

#wrapper{
    min-height : 100%;
    max-height : auto;
    margin: auto;
  }


#wrapper2{
    min-height : 100%;
    max-height : auto;
    margin: auto;
    
}
  
html, body {
    margin: 0;
    padding: 0;
    height: 90%;
}


#login_hr {
    width : 40%;
}

.login_footer_img {
    width: 4%;
    height: 4%; 
    margin-bottom: -0.5%;
}

.footer_img {
    width: 45px;
    margin-top: 4px;
    margin-right: 10px;
}



.account{
    text-align : center;

}

.logo_img{
    width : 250px;
    display : block;
    margin : 0 auto;
    margin-top: 7%;
}

.custom-control-input{
    margin-top: 1%;
    margin-left : 40%;
}
.login_text{
    margin-top: 1%;
    margin-left : 40%;
}

.login_div,
.logout_div {
    display: flex;
    padding: 10px 10px;;
    float: right;
    margin-top: -10px;
}

.underline-hover {
    background-color: #fff;
    margin: 0;
}
.underline-hover li{
    list-style: none;
    display: inline-block;
    margin: 0 30px;
}
.underline-hover li a {
    color: black;
    text-decoration: none;
    position: relative;
}
.underline-hover li a:before {
    content: '';
    background-color: dodgerblue;
    width: 0;
    height: 2px;
    position: absolute;
    left: 50%; /*right로 바꾸면 오른쪽에서*/
    transform: translateX(-50%);
    bottom: -10px;
    transition: 0.3s;
}
.underline-hover li a:hover:before {
    width: 10%;
}
.table {
  border-collapse: collapse;
  border-top: 3px solid #168;

  
}
.table th {
  color: #168;
  background: #f0f6f9;
  text-align: center;

}

.US_table th {
    color: #168;
    background: #eaecf4;
    text-align: center;
    border-collapse: collapse;
    border-collapse: collapse;
    border-top: 3px solid #168;

  
  }


.table td {
    color: #168;
    background: #ededed;
    text-align: center;
    
}


.table th, .table td {
  border: 1px solid #ddd;

  
  
}
.table th:first-child, .table td:first-child {
  border-left: 0;
}
.table th:last-child, .table td:last-child {
  border-right: 0;
}
.table tr td:first-child{
  text-align: center;
}
.table caption{caption-side: bottom; display: none;}
.table th:nth-child(3) {
    width:700px;
}

.table td aaa{
    border-collapse: collapse;
    border-top: 3px solid #168;
}

#krr {
    border-right: 3px solid #168;
    border-left: 3px solid #168;
    border-bottom: 3px solid #168;
    display : block;
    margin-top : -16px;
}


.home_button{
    width: 20%;
    background-color: dodgerblue;
    color: #fff;
    padding: 7px;
    margin-top: 15px;
    border-radius: 5px;
    border: none;
    margin-top: 1%;
    margin-left : 40%;
}


#warning_login{
    margin-top : 10px;
    margin-bottom: 10px;
    text-align : center;
    color : red;

}

#warning_signup{
    text-align : center;
    color : red;

}

#id_check_al{
    width: 20%;
    background-color: red;
    color: #fff;
    padding: 7px;
    border-radius: 5px;
    border: none;
    margin-top: 1%;
    margin-left : 40%;
}

.id_check_btn{
    width: 20%;
    background-color: dodgerblue;
    color: #fff;
    padding: 7px;
    border-radius: 5px;
    border: none;
    margin-top: 1%;
    margin-left : 40%;


}


/* 버튼 클릭시 색상 유지*/
a { text-decoration: none; color: black; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:focus { text-decoration: none; }
a:hover, a:active { text-decoration: none; }
