#container {
    width: 100px;
    height: 100px;
    background-color: yellow;
    position: relative;
  }
  
  .loader {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: spin 2s linear infinite;
    display: none; /* 로딩 시작 시 숨김 */
  }
  
  @keyframes spin {
    0% { transform: translate(-50%, -50%) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg); }
  }
  
  .loading-container.loading {
    background-color: transparent; /* 로딩 중 배경 투명하게 */
    cursor: not-allowed; /* 로딩 중에는 커서 변경 */
    pointer-events: none; /* 로딩 중에는 클릭 이벤트 비활성화 */
  }
  
  .loading-container.loading .loader {
    display: block; /* 로딩 중에만 로더 보이게 함 */
  }
  