{% extends 'Accounts_base.html' %}
{% load static %}
{% block content %}
    <div style="height:50%;">
        <div class="account">
            <h1 class="h4 text-gray-900 mb-4">비민번호 재설정</h1><br>
        </div>
        <form method="POST">
            {% csrf_token %}
            <div>
                <input name="password1" id ="password1" type="password"  placeholder="비밀번호" required>
            </div>
            <div>
                <input name="password2" id ="password2" type="password"  placeholder="비밀번호 재확인" required>
            </div>
            <div id = "warning_signup">
                {{ check_password }}
                {{ wrong_password }}
            </div>

            
            <input type="submit" class="create_btn" value="재설정">
            
            <button class="home_button" type="button" onclick="location.href='../login/';">로그인 화면</button>
        </form>
    </div>
{% endblock %}