{% extends 'Accounts_base.html' %}
{% load static %}
{% block content %}
    <div class="account-back">
        <form class="login-form" method="POST" action = "{% url 'logout' %}">
            {% csrf_token %}
            <img class="logo" style="margin: 10px 0px" src="{% static 'img/ltlux-logo2.png' %}"></img>
            <p class="div-custom" style="text-align: center; font-size: 14px; line-height: 2; margin: 0;">현재 로그인 상태 입니다.<br>다시 로그인을 원할 시 로그아웃 해주세요.</p>
            <input class="input login-submit" type="submit" value="Sign out">
            <a class="input login-submit" style="color: rgb(112, 112, 112); font-weight: 800; padding: 8px 0px; text-align: center;" href="{% url 'diagnosis_home' %}">Main page</a>
            <p class="forgotten" style="margin-top: 20px;">Forgotten your login details ?</p>

            <div class="div-custom" style="width: 100%; height: 35px;">
                <a class="find-submit" href="{% url 'id_search' %}">Find ID</a>
                <div class="hr-vertical"></div>
                <a class="find-submit" href="{% url 'password_search' %}">Find PW</a>
            </div>
            
            <div class="or" style="margin-right: 3px;">or</div>

            <p class="signup-text">Don't have an account ? <a class="signup-submit" href="{% url 'signup' %}">SignUp</a></p>
        </form>
    </div>
{% endblock %} 