{% extends 'Accounts_base.html' %}
{% load static %}

{% block content %}
    
    <div class="account-back">
        <form class="login-form" method="POST" action = "{% url 'login' %}">
            {% csrf_token %}
            
            <img class="logo" src="{% static 'img/ltlux-logo2.png' %}"></img>

            <input class="input" type="text" name="{{ form.username.html_name }}" required placeholder="ID">
            <input class="input" type="password" name="{{ form.password.html_name }}" required placeholder="Password">
            <input class="input login-submit" type="submit" value="Sign in">

            <p class="forgotten" style="margin-top: 20px;">Forgotten your login details ?</p>

            <div class="div-custom" style="width: 100%; height: 35px;">
                <a class="find-submit" href="{% url 'id_search' %}">Find ID</a>
                <div class="hr-vertical"></div>
                <a class="find-submit" href="{% url 'password_search' %}">Find PW</a>
            </div>
            
            <div class="or" style="margin-right: 3px;">or</div>

            <p class="signup-text">Don't have an account ? <a class="signup-submit" href="{% url 'signup' %}">Sign up</a></p>
        </form>
    </div>
{% endblock %}

