{% extends 'Accounts_base.html' %}
{% load static %}
{% block content %}
    <div style="height:50%;">

        <div class="account">
            <h5 class="h4 text-gray-900 mb-4">{{real_name}}
                <span style="color: rgb(252, 113, 8); font-size: x-large;">
                    {{doctor_username}}
                </span>{{end_text}}
                <span style="color: rgb(252, 8, 8); font-size:medium;">{{error}}</span>
            </h5>
        </div>
        
        <form method="POST">
            {% csrf_token %}
                <input name="pw_search_input" id="pw_search_input" type="text" placeholder="아이디" required>
                <input name="name" id = "name" type="text" placeholder="이름" required>
                <input name="email" type="email" placeholder="이메일" required>
                <input name="License_Number" id = "License_Number" type="text" placeholder="의사면허번호" required>
            <select name="question" class="pass_search">
                {% for q in question %}
                    <option>{{ q }}</option>
                {% endfor %}
            </select>
                <input name="hint" id = "hint" type="text" placeholder="비밀번호 힌트 답변" required>
                <input a href="{% url 'login' %}" type="submit" class="create_btn" value=" 찾기"></input>

            <button class = "home_button" type = "button" onclick = "location.href = '../login/';">로그인 화면</button>
        </form>   
    </div>


<!-- <div class="account-back">
    <form class="findId-form" method="POST" action = "{% url 'password_search' %}">
        {% csrf_token %}
        <div class="div-custom">
            <img class="logo" src="{% static 'img/ltlux-logo2.png' %}" style="margin-top: 15px;"></img>
            <samll class="forgotten" style="margin-top: 15px; margin-left: 3px; font-size: 85%;"><samll>｜</samll>forgot your password ? </samll>
        </div>
            <input name="pw_search_input"  type="text" placeholder="아이디" required>
            <input class="input findId-input" name="name" type="text" placeholder="name" required>
            <input class="input findId-input" name="email" type="email" placeholder="email" required>
            <input class="input findId-input" name="License_Number" type="text" placeholder="license number" required>
            <select class="input findId-input select-custom" style="width: 86%;" name="question">
                {% for q in question %}
                    <option>{{ q }}</option>
                {% endfor %}
            </select>
            <input class="input findId-input" name="hint" type="text" placeholder="비밀번호 힌트 답변" required>

            <input class="input findId-submit" style="margin-top: 20px;" type="submit" value="Find">
            <input a href="{% url 'login' %}" type="submit" class="create_btn" value=" 찾기"></input>
            <div class="or" style="margin-top: 5px;">or</div>

            <div class="div-custom" style="width: 100%; height: 35px; margin-left: 13px;">
                <a class="find-submit" style="font-size: 14px;" href='../login/'>Log in</a>
                <div class="hr-vertical" style="margin-top: 3px;"></div>
                <a class="find-submit" href="{% url 'id_search' %}">Find ID</a>
            </div>
    </form>
</div> -->
{% endblock %}