{% extends "Diagnosis_base.html" %}
{% block content %}
{% load static %}
{% load diagnosis_filter %}
<div id="content">
    <div class="row justify-content-center">
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body">
                <h2 style="text-align:center; position: relative; line-height:150%; ">DICOM Converter</h2>
                </br>
                
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="file" name="dcm_file" accept=".dcm">
                    <input type="submit" value="Convert">
                </form>
                <img src="{{ image_file_path }}" alt="Converted Image">
                
            </div>
            <button type="submit" id="testimage" class="btn btn-secondary" >SAVE</button>
        </div>
    </div>
</div>
{% endblock %}








